RewriteEngine On

# Redirect /admin to /admin/admin.php
RewriteCond %{REQUEST_URI} ^/admin/?$ [NC]
RewriteRule ^$ admin.php [L]

# Redirect /admin/dashboard to /admin/admin_dashboard.php
RewriteCond %{REQUEST_URI} ^/admin/dashboard/?$ [NC]
RewriteRule ^dashboard$ admin_dashboard.php [L]
